/* отступ под фиксированный хедер */
.main-content {
    margin-left: 220px; /* ширина сайдбара */
    padding: 2rem;
    background-color:rgb(240, 243, 245);
    min-height: calc(100vh - 64px);
    min-width: calc(100vw - 220px); /* учитывать высоту хедера */
    margin-top: 60px;
  }
  
  /* белая карточка */
  .content-wrapper {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }
  